<header class="header">
  <div class="logo">
    <a routerLink="" class="logo-link">Home</a>
  </div>

  <div class="menu-toggle" (click)="toggleMenu()">☰</div>

  <nav [ngClass]="{ 'nav': true, 'active': isMenuOpen }">
    <a routerLink="/hero" class="nav-link" (click)="closeMenu()">Resume</a>
    <a routerLink="/about" class="nav-link" (click)="closeMenu()">About</a>
    <a routerLink="/skills" class="nav-link" (click)="closeMenu()">Skills</a>
    <a routerLink="/experience" class="nav-link" (click)="closeMenu()">Experience</a>
    <a routerLink="/projects" class="nav-link" (click)="closeMenu()">Projects</a>
    <a routerLink="/contact" class="nav-link" (click)="closeMenu()">Contact</a>
  </nav>
</header>

<div style="margin-top: 80px;"></div>
<router-outlet></router-outlet>
